[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/suchinton/Desktop/brave-agimnkijcaahngcdmfeangaknmldooml-Default.desktop]
row=1
col=2

[/home/suchinton/Desktop/brave-cbmdempmfiieojfgeoakgffdlpihakdo-Default.desktop]
row=1
col=1

[/home/suchinton/Desktop/brave-ncmjhecbjeaamljdfahankockkkdmedg-Default.desktop]
row=2
col=1

[/home/suchinton/Desktop/brave-eblnmhdhdbpcgejeepegnjccdalemccc-Default.desktop]
row=3
col=0

[/home/suchinton/Desktop/brave-kjbdgfilnfhdoflbpgamdcdgpehopbep-Default.desktop]
row=3
col=1

[/home/suchinton/Desktop/brave-mnnncmnfcndlghkomlbaadoonfnjcadg-Default.desktop]
row=4
col=0

[/home/suchinton/Desktop/brave-mjoklplbddabcmpepnokjaffbmgbkkgg-Default.desktop]
row=2
col=2

[/home/suchinton/Desktop/brave-aghbiahbpaijignceidepookljebhfak-Default.desktop]
row=5
col=1

[/home/suchinton/Desktop/brave-hnpfjngllnobngcgfapefoaidbinmjnm-Default.desktop]
row=5
col=2

[/home/suchinton/Desktop/brave-mpnpojknpmmopombnjdcgaaiekajbnjb-Default.desktop]
row=4
col=2

[/home/suchinton/Desktop/brave-kmhopmchchfpfdcdjodmpfaaphdclmlj-Default.desktop]
row=5
col=0

[/home/suchinton/Desktop/brave-eilembjdkfgodjkcjnpgpaenohkicgjd-Default.desktop]
row=4
col=1

[/home/suchinton/Desktop/brave-phmgkiacbfbeoooklppflnogkmggbejo-Default.desktop]
row=0
col=1

[/home/suchinton/Desktop/brave-pkooggnaalmfkidjmlhoelhdllpphaga-Default.desktop]
row=0
col=2

[/home/suchinton/Desktop/brave-jbflejjhcbmnbhlffkiemnloicfanmmg-Default.desktop]
row=3
col=2

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/suchinton]
row=2
col=0

